<h1>Geocoder Demo</h1>
<ul>
  <li>request.remote_ip <%= request.remote_ip %></li>
  <li>env['HTTP_X_FOWARDED_FOR'] <%= env['HTTP_X_FORWARDED_FOR'] %></li>
  <li>env['REMOTE_ADDR'] <%= env['REMOTE_ADDR'] %></li>
</ul>
